body {
  background-image: url("https://c1.staticflickr.com/7/6098/6253180419_11b25994e3_b.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: sans-serif;
}

header {
  text-align: center;
}

h2, h1 {
  margin-bottom: 10px;
  margin-top: 10px;
}

nav {
  text-align: center;
  width: 100%;
}

.box {
  background-color: darkblue;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  display: block;
  width: 25%;
}

article {
  background-color: white; /*fallback for background colour for browsers which don't support rgba*/
  background-color: rgba(192,192,192,0.4);
  border: 2px solid darkblue;
  border-radius: 10px;
  margin: 15px;
  padding: 10px;
  max-width: 100%;
}

#locationmap {
  height: 640px;
}

#locmap {
  border: 1px solid darkblue;
  border-radius: 5px;
  height: 320px;
  padding: inherit;
  visibility: hidden;
  margin-top: 5px;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.selec {
  padding: inherit;
}

#wikiimg {
  border: 1px solid darkblue;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  visibility: hidden;
}

#wikitxt {
  padding: inherit;
  border: 1px solid darkblue;
  border-radius: 5px;
  margin: auto 10px;
  background-color: white;
}

#navbut {
  background-color: darkblue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  border: none;
  text-decoration: none;
  font: inherit;
  color: white;
}

#navlink {
  display: none;
  position: absolute;
  z-index: 2;
  width: 100%;
  background-color: white;
  opacity: 0.5;
}

#but {
  background-color: darkblue;
  border: 2px solid black;
  border-radius: 5px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.active {
  pointer-events: none;
  cursor: default;
  background-color: white;
  color: darkblue;

}

@media screen and (min-width : 1200px) {
  body {
    background-image: url("https://farm6.staticflickr.com/5584/15092826117_89d1bd825b_k.jpg");
  }

  .box:hover {
    background-color: white;
    color: darkblue;
    opacity: 0.8;
  }

  article {
    display: grid;
    grid-template-areas: "selec selec"
    "wikitxt wikiimg"
    "locmap locmap";
    grid-template-columns: 60% 40%;
    justify-content: center;
  }

  #locmap {
    grid-area: locmap;
  }

  .selec {
    grid-area: selec;
  }

  #wikitxt {
    grid-area: wikitxt;
  }

  #wikiimg {
    grid-area: wikiimg;
  }

  #navbut {
    display: none
  }

  #navlink {
    display: block;
    position: static;
    opacity: 0.6;
    background: none;
    width: auto;
  }

  .box {
    display: inline-block;
    width: auto;
  }
}
